[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pgcli = "*"
jupyter = "*"
pandas = "*"
pyarrow = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
argparse = "*"
pip = "*"

[dev-packages]

[requires]
python_version = "3.10"
